<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="gps" params="name pos_x pos_y pos_z rpy_x rpy_y rpy_z update_rate">

    <link name="${name}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.04" radius="0.05"/>
        </geometry>
        <material name="blue">
          <color rgba="0.0 0.0 1.0 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.1" radius="0.02"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.1"/>
        <inertia ixx="0.00005" ixy="0.0" ixz="0.0"
                 iyy="0.00005" iyz="0.0"
                 izz="0.00005"/>
      </inertial>
    </link>
    
    <gazebo reference="${name}_link">
        <material>Gazebo/Blue</material>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>

    <joint name="${name}_joint" type="fixed">
      <origin xyz="${pos_x} ${pos_y} ${pos_z}" rpy="${rpy_x} ${rpy_y} ${rpy_z}"/>
      <parent link="base_link"/>
      <child link="${name}_link"/>
    </joint>

    <!-- Gazebo plugin for GPS sensor -->
    <gazebo reference="${name}_link">
      <sensor type="gps" name="${name}_sensor">
        <gps>
          <position_sensing>
            <horizontal/>
            <vertical/>
          </position_sensing>
        </gps>
        <update_rate>${update_rate}</update_rate>
      </sensor>
      <plugin name="${name}_plugin" filename="libgazebo_ros_gps.so">
        <ros>
          <!-- Set the namespace to the desired prefix (e.g., /gps/your_model_name) -->
          <namespace>/gps</namespace>

          <!-- Remap topics for GPS data -->
          <remapping>fix:=/gps/${name}/fix</remapping>
          <remapping>velocity:=/gps/${name}/velocity</remapping>
        </ros>
      </plugin>
    </gazebo>
    
  </xacro:macro>

</robot>
